/*.btn-active{
  display: inline-block;
  background-color: aqua;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 0.9rem;
  cursor: pointer;
  text-transform: uppercase;
  color: #000;
  &:hover{
    background-color: blue;
    color: #fff;
  }
}*/
