.btn-main{
    background: #FEE442;
    color: #121212;
    padding: 20px 55px;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}
@media screen and (max-width: 768px) {
    .btn-main{
        padding: 20px 35px;
    }
}
