<section class="certification">
    <div class="container">
        <div class="certification__title">СЕРТИФИЦИРОВАНЫ:</div>
        <ul class="certification__list">
            <li class="certification__item">
                <img class="certification__img" src="img/yandex-direct.png" alt="yandex-direct" >
            </li>
            <li class="certification__item">
                <img class="certification__img" src="img/facebook.png" alt="facebook">
            </li>
            <li class="certification__item">
                <img class="certification__img" src="img/google-analytics.png" alt="google-adsense">
            </li>
            <li class="certification__item">
                <img class="certification__img" src="img/mailgroup.png" alt="mailgroup">
            </li>
            <li class="certification__item">
                <img class="certification__img" src="img/google-analytics.png" alt="google-analytics">
            </li>
            <li class="certification__item">
                <img class="certification__img" src="img/yandex-metrika.png" alt="yandex-metrika">
            </li>
            <li class="certification__item">
                <img class="certification__img" src="img/vk.png" alt="vk">
            </li>
        </ul>
    </div>
</section>