<section class="clients">
    <div class="clients__block-top block-top">
        <div class="container">
            <div class="block-top__wrap">
                <div class="block-top__title">ПРОДВИЖЕНИЕ ОТ АГЕНТСТВА <span>SEOBUILDING</span></div>
                <div class="block-top__marketing">
                    <div class="block-top__marketing-img">
                        <img src="../img/marketing-target.png" alt="marketing-target">
                    </div>
                    <div class="block-top__marketing-text">SEOBUILDING ЯВЛЯЕТСЯ ОДНИМ ИЗ НЕМНОГИХ МАРКЕТИНГОВЫХ ПАРТНЕРОВ FACEBOOK В РОССИИ.</div>
                </div>
                <div class="block-top__advantage block-top-advantage">
                    <ul class="block-top-advantage__list">
                        <li class="block-top-advantage__item">
                            <div class="block-top-advantage__title">> 4 900 000 р</div>
                            <div class="block-top-advantage__text">РЕКЛАМНЫЙ БЮДЖЕТ ПОД УПРАВЛЕНИЕМ АГЕНСТВА ЗА ПОСЛЕДНИЙ МЕСЯЦ</div>
                        </li>
                        <li class="block-top-advantage__item">
                            <div class="block-top-advantage__title">Более 300</div>
                            <div class="block-top-advantage__text">УСПЕШНО РЕАЛИЗОВАННЫХ ПРОЕКТОВ</div>
                        </li>
                    </ul>
                </div>
                <div class="block-top__img">
                    <img src="../img/team.png" alt="team">
                    <!--<div class="block-top__team-label">команда экспертов</div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="clients__block-bottom block-bottom">
        <div class="container">
            <div class="block-bottom__wrap">
                <div class="block-bottom__title">КЛИЕНТЫ SEOBUILDING:</div>
                <ul class="block-bottom__company-list">
                    <li class="block-bottom__company-item">
                        <img src="../img/times.png" alt="8times">
                    </li>
                    <li class="block-bottom__company-item">
                        <img src="../img/deliveryclub.png" alt="deliveryclub">
                    </li>
                    <li class="block-bottom__company-item">
                        <img src="../img/zalogrf.png" alt="zalogrf">
                    </li>
                    <li class="block-bottom__company-item">
                        <img src="../img/youhelp.png" alt="youhelp">
                    </li>
                    <li class="block-bottom__company-item">
                        <img src="../img/perekrestok.png" alt="perekrestok">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="clients__ticker">
        @@include('../bem-blocks/ticker/_ticker.html',{
        "class":"ticker_white-black"
        })
        <!--@@include('../bem-blocks/ticker/_ticker.html',{
        "class":"ticker_black-yellow"
        })-->
    </div>


</section>