<section class="educational">
    <div class="container">
        @@include('../bem-blocks/list/_list.html',{
        "title": "УБЕБНЫЙ ЦЕНТР: ПОМОГАЕМ ВО ВСЕМ РАЗОБРАТЬСЯ",
        "item-title1": "Обучаем ведению сайта",
        "item-desc1": "Для нас важно, чтобы вы осознали <span>весь процесс создания</span> и продвижения сайтов",
        "item-title2": "Управление содержимым сайта",
        "item-desc2": "Сможете самостоятельно добавлять или изменять содержимое страниц и каталога. Например, публиковать статьи в блоге",
        "item-title3": "100% контроль у собственника",
        "item-desc3": "Что <span>нужно понимать</span> при регистрации хостинга, домена, покупке прав на сайт",
        "item-title4": "Правильный анализ данных",
        "item-desc4": "Научим вас разбираться в отчетах и замерять/сравнивать результаты, чтобы вы могли <span>принимать качественные решения</span> для вашего бизнеса",
        "item-title5": "Защита вашей собственности",
        "item-desc5": "Как соблюдать права интеллектуальной собственности в сети Интернет. Что делать, если с вашего сайта скопировали контент или дизайн"
        })
        <img class="educational__img" src="img/educational.png" alt="educational-img">
    </div>

</section>