<div class="excellence">
    <div class="container">
        @@include('../bem-blocks/list/_list.html',{
        "title": "ПОЧЕМУ SEOBUILDING ЛУЧШЕ ОСТАЛЬНЫХ",
        "item-title1": "Забиваем кувалдой в ТОП Google & Yandex",
        "item-desc1": "Seobuilding — это практикующее SEO агентство. <span>Занимаемся SEO продвижением с 2013 года</span> как собственных так и  клиентских сайтов.",
        "item-title2": "Комплексная программа",
        "item-desc2": "Настроим цели, внедрим аналитику, настроим CRM, запустим сервер, нарисуем баннер и еще 50+ неочивидных но необходимых работ.",
        "item-title3": "Внедряем изменения на сайт",
        "item-desc3": "Самостоятельно <span>внедряем изменения</span>, а не просто даем рекомендации.",
        "item-title4": "Уникальный бэкграунд",
        "item-desc4": "Постоянно качаем скилы и эксперементируем <span>на собственных проектах.</span>",
        "item-title5": "Индивидуальные консультации",
        "item-desc5": "Получите от сотрудичества максимум пользы и улучшите свой проект с помощью опытных SEO-специалистов."
        })
    </div>
    <div class="excellence__circle-bg circle-bg"></div>
</div>