<div class="questions">
    <div class="container">
        <div class="questions__title">ЧАСТО<br>ЗАДАВАЕМЫЕ<br>ВОПРОСЫ</div>
        <ul class="questions__list">
            <li class="questions__item">
                <div class="questions__item-title">КОГДА ЗАПРОСЫ ПОПАДУТ В ТОП-3?
                    <div class="questions__item-icon"></div>
                </div>
                <div class="questions__item-text">
                    Обычно через 2-3 месяца часть запросов уже входят в ТОП-10. Может быть раньше или позже, зависит от
                    уровня конкуренции и ...
                </div>
            </li>
            <li class="questions__item">
                <div class="questions__item-title">КОГДА ЗАПРОСЫ ПОПАДУТ В ТОП-3?
                    <div class="questions__item-icon"></div>
                </div>
                <div class="questions__item-text">
                    Обычно через 2-3 месяца часть запросов уже входят в ТОП-10. Может быть раньше или позже, зависит от
                    уровня конкуренции и ...
                </div>
            </li>
            <li class="questions__item">
                <div class="questions__item-title">КОГДА ЗАПРОСЫ ПОПАДУТ В ТОП-3?
                    <div class="questions__item-icon"></div>
                </div>
                <div class="questions__item-text">
                    Обычно через 2-3 месяца часть запросов уже входят в ТОП-10. Может быть раньше или позже, зависит от
                    уровня конкуренции и ...
                </div>
            </li>
            <li class="questions__item">
                <div class="questions__item-title">КОГДА ЗАПРОСЫ ПОПАДУТ В ТОП-3?
                    <div class="questions__item-icon"></div>
                </div>
                <div class="questions__item-text">
                    Обычно через 2-3 месяца часть запросов уже входят в ТОП-10. Может быть раньше или позже, зависит от
                    уровня конкуренции и ...
                </div>
            </li>
            <li class="questions__item">
                <div class="questions__item-title">КОГДА ЗАПРОСЫ ПОПАДУТ В ТОП-3?
                    <div class="questions__item-icon"></div>
                </div>
                <div class="questions__item-text">
                    Обычно через 2-3 месяца часть запросов уже входят в ТОП-10. Может быть раньше или позже, зависит от
                    уровня конкуренции и ...
                </div>
            </li>
            <li class="questions__item">
                <div class="questions__item-title">КОГДА ЗАПРОСЫ ПОПАДУТ В ТОП-3?
                    <div class="questions__item-icon"></div>
                </div>
                <div class="questions__item-text">
                    Обычно через 2-3 месяца часть запросов уже входят в ТОП-10. Может быть раньше или позже, зависит от
                    уровня конкуренции и ...
                </div>
            </li>
        </ul>
        <div class="questions__text">ОСТАЛИСЬ ВОПРОСЫ?<br>СВЯЖИТЕСЬ С НАМИ, ЧТОБЫ УЗНАТЬ БОЛЬШЕ </div>
        <div class="questions__btn">
            @@include('../bem-blocks/buttons/_btn-yellow_white.html',{
            "link": "#",
            "class": "",
            "text": "заказать SEO"})
        </div>
    </div>
</div>