<div class="return">
    <div class="container">
        <div class="return__title">Вам понравится работать<br> с Seobuilding.</div>
        <div class="return__subtitle">Или мы вернём деньги. </div>
        <div class="return__text">Если нужный запрос не попадет в ТОП-3 Google и Yandex, мы <br> оформим возврат
            денежных средств.
        </div>
        <div class="return__img-circle-wrap">
            <div class="return__img-circle"></div>
        </div>
        <img class="return__img" src="img/heart.png" alt="heart">
    </div>
</div>