<div class="reviews">
    <div class="container">
        <div class="reviews__title">ОТЗЫВЫ<br>
            О <span>SEOBUILDING ADENCY</span>
        </div>
        <div class="reviews__slider">
            <div class="slider__item" style="background-image: url('./img/reviews-foto1.jpg')">
                <div class="slider__item-wrap">
                    <div class="slider__item-info">
                        <div class="slider__item-title">Алексей Кузнецов</div>
                        <div class="slider__item-text">Руководитель компании, ФРОНТЕНД студия</div>
                    </div>
                    <a href="#" class="slider__item-btn">Смотреть отзыв</a>
                </div>
            </div>
            <div class="slider__item" style="background-image: url('./img/reviews-foto2.jpg')">
                <div class="slider__item-wrap">
                    <div class="slider__item-info">
                        <div class="slider__item-title">Павел Нестеренко</div>
                        <div class="slider__item-text">Business development, Пленум</div>
                    </div>
                    <a href="#" class="slider__item-btn">Смотреть отзыв</a>
                </div>
            </div>
            <div class="slider__item" style="background-image: url('./img/reviews-foto3.jpg')">
                <div class="slider__item-wrap">
                    <div class="slider__item-info">
                        <div class="slider__item-title">Никита Наумов</div>
                        <div class="slider__item-text">Основатель, Академия #безкода</div>
                    </div>
                    <a href="#" class="slider__item-btn">Смотреть отзыв</a>
                </div>
            </div>
            <div class="slider__item" style="background-image: url('./img/reviews-foto4.jpg')">
                <div class="slider__item-wrap">
                    <div class="slider__item-info">
                        <div class="slider__item-title">Дарья Антохина</div>
                        <div class="slider__item-text">Менеджер по интернет-маркетингу, Байкал-Сервис</div>
                    </div>
                    <a href="#" class="slider__item-btn">Смотреть отзыв</a>
                </div>
            </div>
            <div class="slider__item" style="background-image: url('./img/reviews-foto5.jpg')">
                <div class="slider__item-wrap">
                    <div class="slider__item-info">
                        <div class="slider__item-title">Ярослав Мудрый</div>
                        <div class="slider__item-text">Директор по маркетингу, Checkup Business</div>
                    </div>
                    <a href="#" class="slider__item-btn">Смотреть отзыв</a>
                </div>
            </div>
            <div class="slider__item" style="background-image: url('./img/reviews-foto6.jpg')">
                <div class="slider__item-wrap">
                    <div class="slider__item-info">
                        <div class="slider__item-title">Сергей Козленко</div>
                        <div class="slider__item-text">Руководитель отдела маркетинга, Beeline TV</div>
                    </div>
                    <a href="#" class="slider__item-btn">Смотреть отзыв</a>
                </div>
            </div>
        </div>
    </div>
    <div class="reviews__ticker">
        @@include('../bem-blocks/ticker/_ticker.html',{
        "class":"ticker_black-yellow"
        })
        <!--@@include('../bem-blocks/ticker/_ticker.html',{
        "class":"ticker_white-black"
        })-->
    </div>
</div>