<section class="stages">
    <div class="container">
        <div class="stages__wrap">
            <div class="stages__title">
                <h2>ЭТАПЫ SEO</h2>
            </div>
            <div class="stages__cross1">
                <img src="./img/cross1.png" alt="cross1">
            </div>
            <div class="stages__cross2">
                <img src="./img/cross2.png" alt="cross2">
            </div>
            <div class="stages__cross3">
                <img src="./img/cross3.png" alt="cross3">
            </div>
            <ul class="stages__list">
                <li class="stages__item card-stage">
                    <div class="card-stage__img">
                        <img src="./img/stage1.svg" alt="stage1">
                    </div>
                    <div class="card-stage__text">Выявление ошибок и <br> недоработок на сайте, анализ <br> основных конкурентов</div>
                </li>
                <li class="stages__item card-stage">
                    <div class="card-stage__img">
                        <img src="./img/stage2.svg" alt="stage2">
                    </div>
                    <div class="card-stage__text">Разработка SEO-стратегии, <br> для выведения сайта на <br> высокие позиции</div>
                </li>
                <li class="stages__item card-stage">
                    <div class="card-stage__img">
                        <img src="./img/stage3.svg" alt="stage3">
                    </div>
                    <div class="card-stage__text">Сбор семантического ядра <br> (списка запросов), которые <br> будут продвигаться в TOP</div>
                </li>
                <li class="stages__item card-stage">
                    <div class="card-stage__img">
                        <img src="./img/stage4.svg" alt="stage4">
                    </div>
                    <div class="card-stage__text">Работы над внутренними и <br> внешними факторами <br> ранжирования сайта</div>
                </li>
                <li class="stages__item card-stage">
                    <div class="card-stage__img">
                        <img src="./img/stage5.svg" alt="stage5">
                    </div>
                    <div class="card-stage__text">Оценка роста позиций <br> сайта в поисковой выдаче, <br> корректировочные работы!</div>
                </li>
                <li class="stages__item card-stage">
                    <div class="card-stage__img">
                        <img src="./img/stage6.svg" alt="stage6">
                    </div>
                    <div class="card-stage__text">Анализ соотношения <br> посещаемости с <br> активностью пользователей</div>
                </li>
                <li class="stages__item card-stage">
                    <div class="card-stage__img">
                        <img src="./img/stage7.svg" alt="stage7">
                    </div>
                    <div class="card-stage__text">Наполнение сайта <br> полезным авторским <br> контентом</div>
                </li>

            </ul>
            <div class="stages__request-wrap">
                <div class="stages__text">
                    <h3>ИНТЕРЕСНО? <br> ОСТАВЬТЕ ЗАЯВКУ, ЧТОБЫ УЗНАТЬ БОЛЬШЕ</h3>
                </div>
                @@include('../bem-blocks/buttons/_btn-dark.html',{
                "link": "#",
                "class": "stages__btn",
                "text": "оставить заявку"})
            </div>


        </div>
    </div>

</section>