<section class="title-page">
    <div class="title-page__container">
        <div class="container">
            <div class="title-page__wrap">
                <div class="title-page__col">
                    <h1 class="title-page__title">Поисковое продвижение сайтов</h1>
                    <div class="title-page__subtitle">АУДИТ САЙТА <span>БЕСПЛАТНО</span><br><br>от агентства SEObuilding
                    </div>
                    @@include('../bem-blocks/buttons/_btn-main.html',{
                    "link": "#",
                    "class": "title-page__btn-request title-page__btn--desktop",
                    "text": "получить предложение"})

                </div>
                <div class="title-page__col">
                    <img src="./img/titlepage-bg.png" alt="titlepage" class="title-page__img">

                    @@include('../bem-blocks/sticker/_sticker.html',{
                    "class": "title-page__sticker",
                    "title": "-24%",
                    "subtitle": "до 2 апреля",
                    "modificator": "yellow"})
                </div>
            </div>
        </div>
    </div>
    <div class="title-page__btn">
        @@include('../bem-blocks/buttons/_btn-main.html',{
        "link": "#",
        "class": "title-page__btn-request title-page__btn--mobile",
        "text": "получить предложение"})
    </div>
</section>